body
  background-color #f7fafc !important
  font-family "Nunito", -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important

.home .hero img
  height 3rem
  margin-bottom 0 !important

.home .hero h1
  margin : 0.2rem auto !important
  font-size : 2rem !important

.home .hero .description
  margin : 0.4rem auto !important
  font-size : 1.1rem !important

.home .hero .action-button
  font-size : 1rem !important
  padding : 0.7rem 1.3rem !important

.sidebar-heading
  color: #2c3e50 !important

.sidebar-heading.open, .sidebar-heading:hover
  color: #0059c6 !important

table
  display: table
  width: 100%
  max-height: 20rem
  thead
    th 
      background-color: #3c6df0
      color: #ffffff
  tbody
    background-color: #ffffff 

.table-container
  max-height: 20rem
  overflow-y: scroll
  margin-top: 2rem
  table
    margin: 0
    position: relative
    thead
      th 
        position: sticky
        top: 0

.preview-box
  height: 1.5rem
  width: 3rem

.preview-border
  height: 1.5rem
  width: 3rem
  border-width: 0.1rem
  border-style: solid

.text-transparent 
  color: transparent
.text-black 
  color: #22292f
.text-grey-darkest
  color: #3d4852
.text-grey-darker
  color: #606f7b
.text-grey-dark
  color: #8795a1
.text-grey 
  color: #b8c2cc
.text-grey-light
  color: #dae1e7
.text-grey-lighter
  color: #f1f5f8
.text-grey-lightest
  color: #f8fafc
.text-white 
  color: #ffffff
.text-red-darkest
  color: #3b0d0c
.text-red-darker
  color: #621b18
.text-red-dark
  color: #cc1f1a
.text-red 
  color: #e3342f
.text-red-light
  color: #ef5753
.text-red-lighter
  color: #f9acaa
.text-red-lightest
  color: #fcebea
.text-orange-darkest
  color: #462a16
.text-orange-darker
  color: #613b1f
.text-orange-dark
  color: #de751f
.text-orange 
  color: #f6993f
.text-orange-light
  color: #faad63
.text-orange-lighter
  color: #fcd9b6
.text-orange-lightest
  color: #fff5eb
.text-yellow-darkest
  color: #453411
.text-yellow-darker
  color: #684f1d
.text-yellow-dark
  color: #f2d024
.text-yellow 
  color: #ffed4a
.text-yellow-light
  color: #fff382
.text-yellow-lighter
  color: #fff9c2
.text-yellow-lightest
  color: #fcfbeb
.text-green-darkest
  color: #0f2f21
.text-green-darker
  color: #1a4731
.text-green-dark
  color: #1f9d55
.text-green 
  color: #38c172
.text-green-light
  color: #51d88a
.text-green-lighter
  color: #a2f5bf
.text-green-lightest
  color: #e3fcec
.text-teal-darkest
  color: #0d3331
.text-teal-darker
  color: #20504f
.text-teal-dark
  color: #38a89d
.text-teal 
  color: #4dc0b5
.text-teal-light
  color: #64d5ca
.text-teal-lighter
  color: #a0f0ed
.text-teal-lightest
  color: #e8fffe
.text-blue-darkest
  color: #12283a
.text-blue-darker
  color: #1c3d5a
.text-blue-dark
  color: #2779bd
.text-blue 
  color: #3490dc
.text-blue-light
  color: #6cb2eb
.text-blue-lighter
  color: #bcdefa
.text-blue-lightest
  color: #eff8ff
.text-indigo-darkest
  color: #191e38
.text-indigo-darker
  color: #2f365f
.text-indigo-dark
  color: #5661b3
.text-indigo 
  color: #6574cd
.text-indigo-light
  color: #7886d7
.text-indigo-lighter
  color: #b2b7ff
.text-indigo-lightest
  color: #e6e8ff
.text-purple-darkest
  color: #21183c
.text-purple-darker
  color: #382b5f
.text-purple-dark
  color: #794acf
.text-purple 
  color: #9561e2
.text-purple-light
  color: #a779e9
.text-purple-lighter
  color: #d6bbfc
.text-purple-lightest
  color: #f3ebff
.text-pink-darkest
  color: #451225
.text-pink-darker
  color: #6f213f
.text-pink-dark
  color: #eb5286
.text-pink 
  color: #f66d9b
.text-pink-light
  color: #fa7ea8
.text-pink-lighter
  color: #ffbbca
.text-pink-lightest
  color: #ffebef

.bg-transparent 
  background-color: transparent
.bg-black 
  background-color: #22292f
.bg-grey-darkest
  background-color: #3d4852
.bg-grey-darker
  background-color: #606f7b
.bg-grey-dark
  background-color: #8795a1
.bg-grey 
  background-color: #b8c2cc
.bg-grey-light
  background-color: #dae1e7
.bg-grey-lighter
  background-color: #f1f5f8
.bg-grey-lightest
  background-color: #f8fafc
.bg-white 
  background-color: #ffffff
.bg-red-darkest
  background-color: #3b0d0c
.bg-red-darker
  background-color: #621b18
.bg-red-dark
  background-color: #cc1f1a
.bg-red 
  background-color: #e3342f
.bg-red-light
  background-color: #ef5753
.bg-red-lighter
  background-color: #f9acaa
.bg-red-lightest
  background-color: #fcebea
.bg-orange-darkest
  background-color: #462a16
.bg-orange-darker
  background-color: #613b1f
.bg-orange-dark
  background-color: #de751f
.bg-orange 
  background-color: #f6993f
.bg-orange-light
  background-color: #faad63
.bg-orange-lighter
  background-color: #fcd9b6
.bg-orange-lightest
  background-color: #fff5eb
.bg-yellow-darkest
  background-color: #453411
.bg-yellow-darker
  background-color: #684f1d
.bg-yellow-dark
  background-color: #f2d024
.bg-yellow 
  background-color: #ffed4a
.bg-yellow-light
  background-color: #fff382
.bg-yellow-lighter
  background-color: #fff9c2
.bg-yellow-lightest
  background-color: #fcfbeb
.bg-green-darkest
  background-color: #0f2f21
.bg-green-darker
  background-color: #1a4731
.bg-green-dark
  background-color: #1f9d55
.bg-green 
  background-color: #38c172
.bg-green-light
  background-color: #51d88a
.bg-green-lighter
  background-color: #a2f5bf
.bg-green-lightest
  background-color: #e3fcec
.bg-teal-darkest
  background-color: #0d3331
.bg-teal-darker
  background-color: #20504f
.bg-teal-dark
  background-color: #38a89d
.bg-teal 
  background-color: #4dc0b5
.bg-teal-light
  background-color: #64d5ca
.bg-teal-lighter
  background-color: #a0f0ed
.bg-teal-lightest
  background-color: #e8fffe
.bg-blue-darkest
  background-color: #12283a
.bg-blue-darker
  background-color: #1c3d5a
.bg-blue-dark
  background-color: #2779bd
.bg-blue 
  background-color: #3490dc
.bg-blue-light
  background-color: #6cb2eb
.bg-blue-lighter
  background-color: #bcdefa
.bg-blue-lightest
  background-color: #eff8ff
.bg-indigo-darkest
  background-color: #191e38
.bg-indigo-darker
  background-color: #2f365f
.bg-indigo-dark
  background-color: #5661b3
.bg-indigo 
  background-color: #6574cd
.bg-indigo-light
  background-color: #7886d7
.bg-indigo-lighter
  background-color: #b2b7ff
.bg-indigo-lightest
  background-color: #e6e8ff
.bg-purple-darkest
  background-color: #21183c
.bg-purple-darker
  background-color: #382b5f
.bg-purple-dark
  background-color: #794acf
.bg-purple 
  background-color: #9561e2
.bg-purple-light
  background-color: #a779e9
.bg-purple-lighter
  background-color: #d6bbfc
.bg-purple-lightest
  background-color: #f3ebff
.bg-pink-darkest
  background-color: #451225
.bg-pink-darker
  background-color: #6f213f
.bg-pink-dark
  background-color: #eb5286
.bg-pink 
  background-color: #f66d9b
.bg-pink-light
  background-color: #fa7ea8
.bg-pink-lighter
  background-color: #ffbbca
.bg-pink-lightest
  background-color: #ffebef

.border-transparent 
  border-color: transparent
.border-black 
  border-color: #22292f
.border-grey-darkest
  border-color: #3d4852
.border-grey-darker
  border-color: #606f7b
.border-grey-dark
  border-color: #8795a1
.border-grey 
  border-color: #b8c2cc
.border-grey-light
  border-color: #dae1e7
.border-grey-lighter
  border-color: #f1f5f8
.border-grey-lightest
  border-color: #f8fafc
.border-white 
  border-color: #ffffff
.border-red-darkest
  border-color: #3b0d0c
.border-red-darker
  border-color: #621b18
.border-red-dark
  border-color: #cc1f1a
.border-red 
  border-color: #e3342f
.border-red-light
  border-color: #ef5753
.border-red-lighter
  border-color: #f9acaa
.border-red-lightest
  border-color: #fcebea
.border-orange-darkest
  border-color: #462a16
.border-orange-darker
  border-color: #613b1f
.border-orange-dark
  border-color: #de751f
.border-orange 
  border-color: #f6993f
.border-orange-light
  border-color: #faad63
.border-orange-lighter
  border-color: #fcd9b6
.border-orange-lightest
  border-color: #fff5eb
.border-yellow-darkest
  border-color: #453411
.border-yellow-darker
  border-color: #684f1d
.border-yellow-dark
  border-color: #f2d024
.border-yellow 
  border-color: #ffed4a
.border-yellow-light
  border-color: #fff382
.border-yellow-lighter
  border-color: #fff9c2
.border-yellow-lightest
  border-color: #fcfbeb
.border-green-darkest
  border-color: #0f2f21
.border-green-darker
  border-color: #1a4731
.border-green-dark
  border-color: #1f9d55
.border-green 
  border-color: #38c172
.border-green-light
  border-color: #51d88a
.border-green-lighter
  border-color: #a2f5bf
.border-green-lightest
  border-color: #e3fcec
.border-teal-darkest
  border-color: #0d3331
.border-teal-darker
  border-color: #20504f
.border-teal-dark
  border-color: #38a89d
.border-teal 
  border-color: #4dc0b5
.border-teal-light
  border-color: #64d5ca
.border-teal-lighter
  border-color: #a0f0ed
.border-teal-lightest
  border-color: #e8fffe
.border-blue-darkest
  border-color: #12283a
.border-blue-darker
  border-color: #1c3d5a
.border-blue-dark
  border-color: #2779bd
.border-blue 
  border-color: #3490dc
.border-blue-light
  border-color: #6cb2eb
.border-blue-lighter
  border-color: #bcdefa
.border-blue-lightest
  border-color: #eff8ff
.border-indigo-darkest
  border-color: #191e38
.border-indigo-darker
  border-color: #2f365f
.border-indigo-dark
  border-color: #5661b3
.border-indigo 
  border-color: #6574cd
.border-indigo-light
  border-color: #7886d7
.border-indigo-lighter
  border-color: #b2b7ff
.border-indigo-lightest
  border-color: #e6e8ff
.border-purple-darkest
  border-color: #21183c
.border-purple-darker
  border-color: #382b5f
.border-purple-dark
  border-color: #794acf
.border-purple 
  border-color: #9561e2
.border-purple-light
  border-color: #a779e9
.border-purple-lighter
  border-color: #d6bbfc
.border-purple-lightest
  border-color: #f3ebff
.border-pink-darkest
  border-color: #451225
.border-pink-darker
  border-color: #6f213f
.border-pink-dark
  border-color: #eb5286
.border-pink 
  border-color: #f66d9b
.border-pink-light
  border-color: #fa7ea8
.border-pink-lighter
  border-color: #ffbbca
.border-pink-lightest
  border-color: #ffebef